


.sales-search-container {
    margin-left: 40px;

}

.client-select{
    background-color: rgba(0, 102, 255, 0.822);
    color: white;

}

.clients-card{
    width: 300px;
}


.clients-search-form {
    width: 500px;
}