

#file-button{
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-update-title{
    text-align: center;
    font-weight: 200;
}

#id-field{
    display: none;
}

.product-image {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

