<h2 class="image-update-title" mat-dialog-title>Editar imagen</h2>
<form [formGroup]="inventoryService.photoForm" (submit)="editPhoto()" enctype="multipart/form-data">

<div class="dialog-content" mat-dialog-content>


    <div class="product-image-container">
        <img class="product-image" [src]="'http://localhost:4200' + product.imagePath" alt="{{product.title}}">
    </div>
   
        
        
    <mat-form-field  id="id-field" appearance="outline">
        <mat-label>Descripcion del producto</mat-label>
        <input matInput formControlName="_id">
    </mat-form-field>
     
            <button type="button" id="file-button" mat-raised-button (click)="fileInput.click()"> Subir imagen <mat-icon>insert_photo</mat-icon></button>
        <input name="newImage"  #fileInput  style="display: none;" type="file" (change)="onFileUpload($event)">
       </div>
    
        <div mat-dialog-actions>
            <button type="submit" mat-raised-button (click)="editPhoto()"> <mat-icon>add</mat-icon> Crear</button>
            <button mat-raised-button (click)="onClose()"><mat-icon>close</mat-icon> Cancelar</button>
        </div>
    </form>






