<mat-form-field appearance="outline" class="clients-search-form">
    <mat-label>Buscar clientes</mat-label>
    <input #searchBox matInput id="search-box" placeholder="Buscar" (keyup)="searchKeys$.next($event.target.value)" />
    <mat-icon matSuffix>search</mat-icon>
    <!-- <button mat-button matSuffix mat-icon-button aria-label="clear">
      <mat-icon>close</mat-icon>
    </button> -->
  </mat-form-field>


<mat-grid-list cols="4" rowHeight="200px"> 
    <mat-grid-tile *ngFor="let client of clients">
      <mat-card class="clients-card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>account_circle</mat-icon>
          </div>
          <mat-card-title>{{client.name}}</mat-card-title>
          <mat-card-subtitle>{{client.phoneNumber}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button class="client-details" mat-mini-fab matTooltip="Mas informacion" [routerLink]="['/detalles-cliente', client._id]"><mat-icon>info</mat-icon></button>
          <button class="client-edit" mat-mini-fab (click)="onEditClient(client)" matTooltip="Editar cliente"><mat-icon>create</mat-icon></button>
          <button class="delete" mat-mini-fab matTooltip="Eliminar cliente" (click)="deleteClient(client)"><mat-icon class="delete-icon">delete</mat-icon></button>
        </mat-card-actions> 
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>