<app-main-nav></app-main-nav>



<h2 style="font-weight: 200; margin-left: 20px">Inventario</h2>



<button style="font-size: 18px; margin-left: 20px; margin-top: 20px; font-weight: 200;" mat-button
  routerLink="/dashboard">Volver al inicio <mat-icon>home</mat-icon></button>




<div class="inventory-options-div">

  <button id="add-button" mat-stroked-button (click)="onAdd()">
    Añadir producto <mat-icon id="add-icon">add</mat-icon>
  </button>




  <form (submit)="searchProducts(searchBox.value)">
    <mat-form-field appearance="outline" class="inventory-search-form">
      <mat-label>Buscar productos</mat-label>
      <input #searchBox matInput id="search-box" placeholder="Buscar"/>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button style="background-color: dodgerblue" type="submit" mat-fab>
      <mat-icon>search</mat-icon>
    </button>
  </form>




  <div class="inventory-table-categories">
    <button mat-raised-button routerLink="/inventario/tabla">Ver productos en tabla <mat-icon>table_chart</mat-icon>
      </button>
      <h3 style="font-weight: 200; margin-left: 20px;">Filtrar por categorias: </h3>
      <div class="inventory-categories">
    <mat-chip-list *ngFor="let category of categories" style="margin-right: 10px;">
      <mat-chip [routerLink]="['/inventario/categorias']" [queryParams]="{category: category.categorias, page: currentPage}">{{category.categorias}}</mat-chip>
    </mat-chip-list> 
    </div>
  </div>




</div>







<mat-grid-list cols="3" gutterSize="10px" rowHeight="480px">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card id="{{product._id}}" class="inventory-products-card">
      <mat-card-header>
        <mat-card-title class="card-title">
          {{product.title}}
        </mat-card-title>
        <button [matMenuTriggerFor]="menu" style="float: right;" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(product)">Editar <mat-icon class="inventory-edit-button">create
            </mat-icon></button>
          <button mat-menu-item (click)="onDelete(product)">Eliminar <mat-icon class="inventory-delete-button">delete
            </mat-icon></button>
          <button mat-menu-item (click)="onEditPhoto(product)">Editar foto<mat-icon class="inventory-edit-img-button">
              add_photo_alternate</mat-icon></button>
        </mat-menu>
      </mat-card-header>
      <div *ngIf="product.cantidad < 5; else onStock">
        <mat-card-subtitle style="color: red">
          Bajo stock
        </mat-card-subtitle>
        </div>
        <ng-template #onStock>
          <mat-card-subtitle style="color: #49ce49">
            En stock
          </mat-card-subtitle>
           
        </ng-template>
      <div *ngIf="product.imagePath == 'no-photo'; else image">
        <img class="product-card-img" mat-card-image src="../../../../assets/no-image.png">
      </div>
      <ng-template #image>
        <img class="product-card-img" mat-card-image [src]="product.imagePath">
      </ng-template>
      <mat-card-content>
        <h3>Modelo: {{product.modelo}}</h3>
        <h3>Precio: {{product.precio | currency}}</h3>
        <h3>Cantidad: {{product.cantidad}}</h3>
        <h2><b>Categoria: {{product.categorias}}</b></h2>
        <h3 style="text-align: center;"><b>Ubicacion: {{product.ubicacion}}</b></h3>


      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

</mat-grid-list>


<div *ngIf="showProductsPager; else showCategoriesPager">
<div class="card-footer pb-0 pt-3 mb-4 d-block mx-auto">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
          <a [routerLink]="['/inventario']" [queryParams]="{ page: 1 }" class="page-link">Primera</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
      <a [routerLink]="['/inventario']" [queryParams]=" {page: pager.currentPage - 1 }" class="page-link"><mat-icon>navigate_before</mat-icon></a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
          <a [routerLink]="['/inventario']" [queryParams]="{ page: page }" class="page-link">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
          <a [routerLink]="['/inventario']" [queryParams]="{page: pager.currentPage + 1 }" class="page-link"><mat-icon>navigate_next</mat-icon></a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
          <a [routerLink]="['/inventario']" [queryParams]="{ page: pager.totalPages }" class="page-link">Ultima</a>
      </li>
  </ul>
</div>
</div>



<ng-template #showCategoriesPager>
  <div class="card-footer pb-0 pt-3 mb-4 d-block mx-auto">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
            <a [routerLink]="['/inventario/categorias']" [queryParams]="{category: categoryQuery, page: 1 }" class="page-link">Primera</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
        <a [routerLink]="['/inventario/categorias']" [queryParams]=" {category: categoryQuery, page: pager.currentPage - 1 }" class="page-link"><mat-icon>navigate_before</mat-icon></a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
            <a [routerLink]="['/inventario/caegorias']" [queryParams]="{category: categoryQuery, page: page }" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
            <a [routerLink]="['/inventario/categorias']" [queryParams]="{category: categoryQuery, page: pager.currentPage + 1 }" class="page-link"><mat-icon>navigate_next</mat-icon></a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
            <a [routerLink]="['/inventario/categorias']" [queryParams]="{category: categoryQuery, page: pager.totalPages }" class="page-link">Ultima</a>
        </li>
    </ul>
  </div>


</ng-template>


